!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "fr-FR", "data-ready" => "waiting", "data-loader" => "visible", "data-overflow" => "locked"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/cmn/_doc_head.haml")).render

	%body.blog

		#svgInject.visuallyhidden
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/cmn/_html_page-loader.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/fr/_html_header-blog.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/fr/_sec_blog-blog.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/fr/_sec_sales.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/fr/_sec_contact.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/fr/_html_footer.haml")).render