!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en-US", "data-ready" => "waiting", "data-loader" => "visible", "data-overflow" => "locked"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/cmn/_doc_head.haml")).render

	%body.home

		#svgInject.visuallyhidden
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/cmn/_html_page-loader.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/en/_html_header-home.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/en/_sec_intro.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/en/_sec_sales.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/en/_sec_blog-home.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/en/_sec_contact.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/en/_html_footer.haml")).render