!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-ready" => "waiting", "data-overflow" => "scrollable"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	-# classes: 'home', 'blog', and 'single'
	%body.home

		#svgInject
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_sec_intro.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_sales.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_blog.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_contact.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_form_mailchimp.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render